/*
Author: Daniel Soriano
Date: 12/10/2017
Filename: content.css
*/
/* reset section */
h1, p, body, header, aside, table, tr, th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
}
/* content styles */
h1 {
  position: absolute;
  top: 2em;
  left: 3em;
  max-width: 100%;
  margin-left: 1em;
  text-transform: capitalize;
  z-index: -1;
}
p {
  position: absolute;
  top: 9em;
  left: 5.5em;
  margin-right: 2em;
  margin-left: 2em;
  border-left: 2px solid black;
  padding-left: 1em;
  z-index: -1;
}
p::first-line {
  color: #695D5D;
}
p::first-letter {
  color: red;
}
