/*
Author: Daniel Soriano
Date: 12/10/2017
Filename: content.css
*/
/* reset section */
h1, p {
  margin: 0;
  padding: 0;
  border: 0;
}
/* content styles */
h1 {
  position: absolute;
  top: 2em;
  left: 3em;
  max-width: 100%;
  margin-left: 1em;
  text-transform: capitalize;
  z-index: -1;
}
p {
  position: absolute;
  margin: 0 auto;
  top: 9em;
  width: 75%;
  text-align: center;
  margin-right: 2em;
  margin-left: 1em;
  border-left: 2px solid black;
  padding-left: 1em;
  z-index: -1;
}
p::first-line {
  color: #695D5D;
}
p::first-letter {
  color: red;
}
@media only screen and (max-width: 384px) {
  h1 {
    top: 3em;
    left: 3.5em;
  }
}
