/*
Author: Daniel Soriano
Date: 12/10/2017
Filename: homeMediaQ.css
*/
/* media styles */
@media only screen and (max-width:600px) {
  /* For tablets: */
  .container {
    height: 100%;
    width: 90%;
    top: 26em;
    left: 2em;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .container {
    height: 100%;
    width: 90%;
    top: 32em;
    left: 1.87em;
    margin-top: 1em;
    margin-bottom: 3em;
  }
}
@media only screen and (max-width:400px) {
  /* For mobile phones: */
  .container {
    height: 100%;
    width: 90%;
    top: 36em;
    left: 1.87em;
    margin-top: 1em;
    margin-bottom: 3em;
  }
}
@media only screen and (max-width:385px) {
  /* For mobile phones: */
  .container {
    height: 100%;
    width: 90%;
    top: 40em;
    left: 0;
    margin-top: 1em;
    margin-bottom: 3em;
  }
}
@media only screen and (max-width:354px) {
  /* For mobile phones: */
  .container {
    height: 100%;
    width: 90%;
    top: 51em;
    left: 0;
    margin-top: 1em;
    margin-bottom: 3em;
  }
}
@media only screen and (max-width:334px) {
  /* For mobile phones: */
  .container {
    height: 100%;
    width: 90%;
    top: 56em;
    left: 0;
    margin-top: 1em;
    margin-bottom: 3em;
  }
}
@media only screen and (max-width:329px) {
  /* For mobile phones: */
  .container {
    height: 100%;
    width: 90%;
    top: 60em;
    left: 0;
    margin-top: 1em;
    margin-bottom: 3em;
  }
}
@media only screen and (max-width:315px) {
  /* For mobile phones: */
  .container {
    height: 100%;
    width: 90%;
    top: 65em;
    left: 0;
    margin-top: 1em;
    margin-bottom: 3em;
  }
}
