/*reset*/
ul, li, a, footer, body {
  margin: 0;
  padding: 0;
  border: 0;
  /* text-align: center; */
}
/*site navigation*/
ul {
  background-color: #695D5D;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid black;
  height: 1.8em;
}
li.topnav {
  display: inline;
  text-align: center;
  padding: 2px;
  padding-left: .3em;
  font-size: 1.5em;
}
li:hover {
  background-color: #C7C6CC;
  color: #695D5D;
  border-bottom: 1px solid black;
}
ul a {
  text-decoration: none;
  color: white;
}
/* sidebar styles */
.sidebar {
  position: fixed;
  top: 8em;
  height: 7.1em;
  width: 4.8em;
  margin: 0 auto;
  padding: 0;
  border: 0;
  display: block;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom:2px solid black;
}
.title {
  text-align: center;
  text-decoration: underline;
  color: white;
}
.font {
  font-size: 1em;
  display: block;
  margin-top: .5em;
  text-align: left;
}
/*footer styles*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #695D5D;
  color: white;
  border-top: 2px solid black;
  text-align: center;
}
