/*
Author: Daniel Soriano
Date: 12/10/2017
Filename: sitenavigation.css
*/
/*reset section*/
ul, li, a, footer, body, html, div {
  margin: 0 auto;
  padding: 0;
  border: 0;
}
body {
  padding-bottom: 5em;
  padding-top: 1em;
  width: 80%;
}
/*site navigation*/
ul {
  background-color: #695D5D;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 1.8em;
  width: 100%;
  padding-top: .2em;
  border-bottom: 2px solid black;
  text-align: center;
}
.topnav {
  display: inline;
  text-align: center;
  padding: 2px;
  padding-left: .3em;
  font-size: 1.5em;
}
li:hover {
  background-color: #C7C6CC;
  color: #695D5D;
}
ul a {
  text-decoration: none;
  color: white;
}
/*footer styles*/
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-top: .2em;
  background-color: #695D5D;
  color: white;
  border-top: 2px solid black;
  text-align: center;
}
/* media queries */
@media only screen and (max-width: 384px) {
  ul {
    height: 3.5em;
  }
}
@media only screen and (min-width: 1000px) {
  ul {
    background-color: #695D5D;
    position: fixed;
    top: 0;
    width: 80%;
    padding-top: .2em;
    border-bottom: 2px solid black;
    height: 1.8em;
    text-align: center;
  }
  footer {
    width: 80%
  }
}
