/*
Author: Daniel Soriano
Date: 12/10/2017
Filename: studyguide.css
*/
/* reset section */
div, h1, p, li {
  margin: 0;
  padding: 0;
  border: 0;
}
/* content styles */
h1 {
  text-align: center;
  position: relative;
  top: 2em;
  z-index: -1;
}
p {
  position: relative;
  top: 4em;
  left: 7.5em;
  right: 7.5em;
  width: 70%;
  line-height: 1.5em;
  text-align: justify;
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: -1;
}
b {
  background-color: yellow;
}
.container {
  text-align: center;
}
