/*
Author: Daniel Soriano
Date: 12/10/2017
Filename: tutor_info_alignment.css
*/
/* reset section */
div, figure, img, figcaption, h2, h3, h4, h5, li, aside, dl {
  margin: 0;
  padding: 0;
  border: 0;
}
/* content styles */
.container {
  margin: 0 auto;
  position: relative;
  top: 3em;
  width: 60%;
  border: 1px solid black;
  text-align: center;
  background-color: #d1d3d6;
  box-shadow: 5px 10px #888888;
  margin-bottom: 2em;
  z-index:-1;
}
img {
  margin: 0 auto;
  margin-top: .5em;
  height: 10em;
  width: 7.3em;
  border: 1px solid black;
  box-shadow: 5px 7px #888888;
}
h2 {
  color: black;
}
p {
  margin-top: .5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.2em;
}
li.classes {
  margin: .5em;
  margin-bottom: 1em;
  list-style-type: none;
  text-align: center;
}
figcaption {
  margin-top: .5em;
  margin-bottom: 1em;
}
dl {
  margin-top: .5em;
  margin-bottom: .5em;
  color: transparent;
  text-shadow: 0 0 15px rgba(0,0,0,1);
}
h1, h2, h3, h4, h5, h6 {
  text-decoration: underline;
}
/*media query styles*/
@media only screen and (min-width: 1000px) {
    div.container {
      margin: 0 auto;
      position: relative;
      top: 3em;
      width: 50%;
      border: 1px solid black;
      z-index:-1;
      text-align: center;
      background-color: #d1d3d6;
      box-shadow: 5px 10px #888888;
      margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1200px) {
    div.container {
      margin: 0 auto;
      position: relative;
      top: 3em;
      width: 40%;
      border: 1px solid black;
      z-index:-1;
      text-align: center;
      background-color: #d1d3d6;
      box-shadow: 5px 10px #888888;
      margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1400px) {
    div.container {
      margin: 0 auto;
      position: relative;
      top: 3em;
      width: 35%;
      border: 1px solid black;
      z-index:-1;
      text-align: center;
      background-color: #d1d3d6;
      box-shadow: 5px 10px #888888;
      margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1600px) {
    div.container {
      margin: 0 auto;
      position: relative;
      top: 3em;
      width: 40%;
      border: 1px solid black;
      z-index:-1;
      text-align: center;
      background-color: #d1d3d6;
      box-shadow: 5px 10px #888888;
      margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1800px) {
    div.container {
      margin: 0 auto;
      position: relative;
      top: 3em;
      width: 26%;
      border: 1px solid black;
      z-index:-1;
      text-align: center;
      background-color: #d1d3d6;
      box-shadow: 5px 10px #888888;
      margin-bottom: 2em;
  }
}
